name: Deploy to Cloud Run

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v3
    
    - name: Authenticate to Google Cloud
      uses: google-github-actions/auth@v1
      with:
        credentials_json: ${{ secrets.GCP_SA_KEY }}
    
    - name: Set up Cloud SDK
      uses: google-github-actions/setup-gcloud@v1
    
    - name: Configure Docker for GCR
      run: gcloud auth configure-docker gcr.io
    
    - name: Build Docker image
      run: docker build -t gcr.io/cyberslayers-3257e/cyberslayers-backend ./backend
    
    - name: Push to GCR
      run: docker push gcr.io/cyberslayers-3257e/cyberslayers-backend
    
    - name: Deploy to Cloud Run
      run: |
        gcloud run deploy cyberslayers-backend \
          --image gcr.io/cyberslayers-3257e/cyberslayers-backend \
          --region us-central1 \
          --service-account=cyberslayers-runner@cyberslayers-3257e.iam.gserviceaccount.com \
          --set-env-vars ENVIRONMENT=testing \
          --update-secrets FIREBASE_CREDENTIALS=firebase-credentials:3 \
          --allow-unauthenticated \
          --platform managed
